<!DOCTYPE html>
<html lang="en">
[%
    menu = {
        'Home'   => '/',
        'Charts' => '/charts',
    };
    menu_hilight = menu.keys.first;
    IF template.menu_hilight;
      menu_hilight = template.menu_hilight;
    END;
-%]
  <head>
    <meta charset="utf-8">
    <title> Flowella </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- css styles -->

    <link href="./css/bootstrap/bootstrap.css" rel="stylesheet">
    
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="./css/bootstrap/bootstrap-responsive.css" rel="stylesheet">

    <!-- IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    [% TRY %]
        [% INCLUDE css_incs %]
    [% CATCH %]
        <!-- css incs - none -->
    [% END %]

    <!-- CSS inline -->
    <style>
    [% TRY %]
        [% INCLUDE inline_css %]
    [% CATCH %]
        <!-- css inline - none -->
    [% END %]
    </style>

    <!-- Head inline -->
    [% TRY %]
        [% INCLUDE inline_head %]
    [% CATCH %]
        <!-- head inline - none -->
    [% END %]

  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">

          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Flowella - Process Engine</a>
          <div class="nav-collapse">
            <ul class="nav">
                [% FOREACH mk IN menu.keys %]
                    <li [% IF mk == menu_hilight %] class="active" [% END %]><a href="[% menu.$mk %]">[% mk %]</a></li> 
                [% END %]
            </ul>
            [% IF user %]
                <p class="navbar-text pull-right">Logged in as <a href="#">[% user %]</a></p>
            [% END %]
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      [% content %]
    </div> <!-- /container -->

    <!-- javascript -->
    <script src="./js/jquery-1.7.1.js"></script>

    <script src="./js/jquery-ui-1.8.18.custom.min.js"></script>
    <script src="./js/jquery.jsPlumb-1.3.7-all.js"></script>
    <script src="./js/jquery.contextmenu.r2.js"></script>

    <!-- Bootstrap JS -->
    <script src="./js/bootstrap/bootstrap-transition.js"></script>
    <script src="./js/bootstrap/bootstrap-alert.js"></script>
    <script src="./js/bootstrap/bootstrap-modal.js"></script>
    <script src="./js/bootstrap/bootstrap-dropdown.js"></script>
    <script src="./js/bootstrap/bootstrap-scrollspy.js"></script>
    <script src="./js/bootstrap/bootstrap-tab.js"></script>
    <script src="./js/bootstrap/bootstrap-tooltip.js"></script>
    <script src="./js/bootstrap/bootstrap-popover.js"></script>
    <script src="./js/bootstrap/bootstrap-button.js"></script>
    <script src="./js/bootstrap/bootstrap-collapse.js"></script>
    <script src="./js/bootstrap/bootstrap-carousel.js"></script>
    <script src="./js/bootstrap/bootstrap-typeahead.js"></script>

    <!-- EmberJS -->
    <script src="./js/emberjs/ember.js"></script>

    <!-- Flowella - Custom JS -->

    <script src="./js/flowella-section-edit.js"></script>

    <script src="./js/app/app.js"></script>
    <script src="./js/app/models.js"></script>
    <script src="./js/app/views.js"></script>
    <script src="./js/app/controllers.js"></script>

    <!-- additional JS libs -->
    [% TRY %]
        [% INCLUDE js_incs %]
    [% CATCH %]
        <!-- js inline - none -->
    [% END %]

    <!-- JS inline -->
    <script>
    [% TRY %]
        [% INCLUDE inline_js %]
    [% CATCH %]
        <!-- js inline - none -->
    [% END %]
    </script>

  </body>
</html>
